html{
    font-family: 'Overpass', sans-serif;
}

.topcluster{
    margin-left: 130px;
    margin-top: 130px;
    max-width: 650px;
}

.information{
    transform: rotate(270deg);
    display: inline-block;
    font-family: monospace;
    color: grey;
    font-weight: 100;
    font-size: 120%;
    position: absolute;
    top: 175px;
}

.Nanwentitle{
    font-weight: 600;
    margin-bottom: 0;
    font-size: 200%;
}

.Nanwentitle2{
    font-family: monospace;
    color: grey;
    font-weight: 100;
    font-size: 120%;
    margin-top: 0;
    -webkit-margin-after: 0em;
}

.arrow{
    font-family: monospace;
    color: grey;
    font-weight: 100;
    font-size: 120%;
    margin-top: 0;
    -webkit-margin-after: 0em;
}
/* links */

.mylink{
    font-family: monospace;
    color: darkgrey;
    font-weight: 100;
    font-size: 100%;
    margin-top: 0;
    text-decoration: none;
}

a:hover{
    color:darkgrey;
}

#menu-container {
    margin-right: 130px;
    max-width: 700px;
}

/* Images */
#imagegroup1 {
    margin-left: 130px;
    margin-right: 130px;
    max-width: 700px;
    width: auto;
}

#imagegroup1 img{
    width:100%; 
}

/* Project Cards */

.poppybutton{
    font-family: monospace;
}

.poppybutton:hover{
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    position: relative;
    z-index: 2;
}

.btn-primary {
    background-color: grey;
    border-color: grey;
}

.btn-primary:hover {
    background-color: darkslategray;
    border-color: darkslategray;
}

.btn-primary:active {
    background-color: darkslategray;
    border-color: darkslategray;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    background-color: darkslategray;
    border-color: darkslategray;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem lightgrey;
}

#myprojectbutton1{
    color: black;
    background-color:  white;
    border-color: grey;
}

.mycard{
    font-family: monospace; 
}

.my-col{
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

/* These are my form styles */

#message{
    height:100px;
}

#my-form-container{
    font-family: monospace;
    max-width: 700px;
}

#my-button{
    color: black;
    background-color:  white;
    border-color: grey;
}

#my-button:focus{
    box-shadow: 0 0 0 0.1rem darkslategray;
}

.form-control{
    border: none;
    border-bottom: 1px solid lightgrey;
    border-radius: 0%;
}

.form-control:focus{
    border-color: black;
    box-shadow: 0 0 0 0.1rem white;
    border: none;
    border-bottom: 1px solid darkslategray;
}

input{
    display: inline-block;
}