html{
    font-family: 'Overpass', sans-serif;
}

.topcluster{
    margin-left: 130px;
    margin-top: 130px;
    max-width: 650px;
}

.information{
    transform: rotate(270deg);
    display: inline-block;
    font-family: monospace;
    color: grey;
    font-weight: 100;
    font-size: 120%;
    position: absolute;
    top: 175px;
}

.Nanwentitle{
    font-weight: 600;
    margin-bottom: 0;
    font-size: 200%;
}

.Nanwentitle2{
    font-family: monospace;
    color: grey;
    font-weight: 100;
    font-size: 120%;
    margin-top: 0;
    -webkit-margin-after: 0em;
}

.arrow{
    font-family: monospace;
    color: grey;
    font-weight: 100;
    font-size: 120%;
    margin-top: 0;
    -webkit-margin-after: 0em;
}

.mylink{
    font-family: monospace;
    color: darkgrey;
    font-weight: 100;
    font-size: 100%;
    margin-top: 0;
    text-decoration: none;
}

#menu-container {
    margin-right: 130px;
    max-width: 700px;
}

#imagegroup1 {
    margin-left: 130px;
    margin-right: 130px;
    max-width: 700px;
    width: auto;
}

#imagegroup1 img{
    width:100%; 
}

.my-col{
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

/* These are my form styles */

#row-message{
    height:800px;

}

#my-form-group{
    width:500px;
}

#my-form-container{
    font-family: monospace; 
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}


#my-form{
    width: 700px;
    margin: auto;
}



